<h1>All kittens</h1>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<ul>
    <% @kittens.each do |kitten| %>
            <li>
                <%= link_to kitten.name, kitten %>
            </li>
            <li><%= link_to "Destroy", kitten_path(kitten), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
            </li>
            <br/>
    <% end %>
</ul>

<%= link_to "Add a new kitten", new_kitten_path %>
